
.DS_Store

ParserDemo/.idea/.name

ParserDemo/.idea/compiler.xml

ParserDemo/.idea/copyright/profiles_settings.xml

ParserDemo/.idea/encodings.xml

ParserDemo/.idea/gradle.xml

ParserDemo/.idea/misc.xml

ParserDemo/.idea/modules.xml

ParserDemo/.idea/scopes/scope_settings.xml

ParserDemo/.idea/vcs.xml

ParserDemo/ParserDemo.iml

ParserDemo/ParserDemo/ParserDemo-ParserDemo.iml
